main {
   max-width: 760px;
   margin: auto;
   height: 100%;
}

header {
}

nav {
   margin: 100px 0px 40px 0px;
}


body {
   padding: 0px 0 50px 0;
   font-size: 16px;
   min-height: 100%;
}

footer {
   padding: 50px 0 20px 0;
   max-width: 760px;
   margin: auto;
   height: 100%;
   text-align: center; 
}

h1 {
   font-size: 38px;
   line-height: 56px;
   margin: 0px 0px 15px 0px;
   font-weight: 300;
   font-style: normal;
   font-family: "Playfair Display";
   color: #FF1D25;
}

h2 {
   font-size: 36px;
   line-height: 46px;
   margin: 0px 0px 25px 0px;
   font-family: "Playfair Display";
   font-weight: 400;
   font-style: normal;
}

h3 {
   font-size: 28px;
   line-height: 36px;
   margin: 0px 0px 19px 0px;
   font-weight: 300;
   font-family: "Playfair Display";
   font-style: italic;
   color: #FF1D25;
}

h4 {
   margin-bottom: 25px;
   font-weight: 400;
   font-style: normal;
   font-family: Inconsolata;
}

h5 {
   font-size: 18px;
   line-height: 24px;
   margin: 0px 0px 15px 0px;
   font-style: normal;
   font-family: "Inconsolata";
   color: #FF8888;
}

ul {
   margin: 0px 0px 25px 0px;
   text-transform: inherit;
   font-size: 18px;
   line-height: 26px;
   font-family: "Karla";
   font-weight: 400;
   font-style: normal;
   list-style:square;
   color: #FF1D25;
}

li span {
   display:block;
   color: #000000;
   margin-left: 8px;
}

p {
   margin: 0px 0px 25px 0px;
   text-transform: inherit;
   font-size: 18px;
   font-family: "Karla";
   font-weight: 400;
   font-style: normal;
   line-height: 28px;
}

p.intro {
   font-size: 22px;
   line-height: 32px;
   margin: 0px 0px 13px 0px;
   font-family: Karla;
   font-weight: 400;
   font-style: normal;
   width: 722.703125px;
}

blockquote.pull-quote {
   margin: 0em 1em 1em 0em;
   border-left: 3px solid #ccc;
   padding: 0em 0em 0em 0.7em;
}

div.content {
   margin: 0 auto;
   text-align: left;
   width: 60%;
   padding: 50px 0px 0px 0px;
}

p.quote {
   font-size: 26px;
   line-height: 32px;
   font-style: normal;
   color: #666666;
   margin: 0px;
   font-family: Inconsolata;
   font-weight: 400;
}

blockquote {
   font-size: 26px;
   line-height: 37px;
   margin-bottom: 25px;
}

img {
   margin: 10px 0px 10px 0px;
   max-width: 760px;}

.a {
   margin-top: 60px;
}

.b {
   margin-top: 80px;
}

.c {
   margin-top: 40px;
}

#R {
    float: left;
 }

#R {
    float: right;
}

a {
text-decoration: none;
color:#FF1D25;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


hr.style3 {
    border: none;
    background-color: #FF8888;
    color: #FF8888;
    height: 1px;
}

  .footer {
   padding: 50px 0 20px 0;
   max-width: 760px;
   max-width: 760px;
   text-align: center; 
  }


/* mobile ----------- */
@media only screen and (max-width: 480px){

h1 {
   font-size: 36px;
   line-height: 48px;
}

h2 {
   font-size: 30px;
   line-height: 40px;
}

h3 {
   font-size: 24px;
   line-height: 30px;
}

h4 {
   font-size: 15px;
}

p {
   font-size: 14px;
   line-height: 25.89px;
}

p.intro {
   font-size: 15px;
   width: 252.40625px;
}

h5 {
   font-size: 15px;
}

p.quote {
   font-size: 18px;
   line-height: 28px;
}
div.content {
   width: 251.125px;
}



